@model ColecaoFilmes.Dominio.Entidades.Filme

@{
    View.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {    
    <fieldset>
        <legend>Fields</legend>

        <div class="editor-label">
            
            @Html.LabelFor(model => model.NomeOriginal)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Id)
            @Html.EditorFor(model => model.NomeOriginal)
            @Html.ValidationMessageFor(model => model.NomeOriginal)            
        </div>5

        <div class="editor-label">
            @Html.LabelFor(model => model.ImdbId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImdbId)
            @Html.ValidationMessageFor(model => model.ImdbId)
        </div>

       

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

